table{
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse !important;

}
td{
    padding : 10px 20px;
    margin: auto;


}

button{
    margin-right: 20px;
    padding: 5px 20px;
    background-color: #fff;
    cursor: pointer;
}
tr:nth-child(even) {background: #dbdada}
tr:nth-child(odd) {background: #f1f1f1}
.search-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.search{
    padding: 10px 20px 10px 7px;
    border:1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

select{
    padding: 10px;
}


.input-wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    flex-wrap: wrap;
    gap: 20px;
}

.input-wrapper input{
    padding: 10px 20px 10px 5px;
}

.input-wrapper button{
    padding: 10px 20px ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}