*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  
.sidebar-item:hover , .active{
  background-color: #fffdfd60;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.filterBtn:hover , .activeBtn{
  background-color: #fff !important;
  color: #111 !important;
}
.rounded {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-top: 10px;
}